In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine.connect()

In [4]:
import pandas as pd
from time import time
csv_file = "/Users/felicia/Desktop/zoomcamp/yellow_tripdata_2021-01.csv.gz"
table_name = "yellow_tripdata_2021_01"

In [5]:
t_start = time()
df_iter = pd.read_csv(csv_file, iterator=True, chunksize=100000, compression='gzip')

df = next(df_iter)
print(df.head(10))

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

df.to_sql(name=table_name, con=engine, if_exists='append') # this got error 

t_end = time()
print('inserted the first chunk, took %.3f second' % (t_end - t_start))

while True: 
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
        print("completed")
        break

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name=table_name, con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1         1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2         1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3         1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4         2  2021-01-01 00:31:49   2021-01-01 00:48:21                1
5         1  2021-01-01 00:16:29   2021-01-01 00:24:30                1
6         1  2021-01-01 00:00:28   2021-01-01 00:17:28                1
7         1  2021-01-01 00:12:29   2021-01-01 00:30:34                1
8         1  2021-01-01 00:39:16   2021-01-01 01:00:13                1
9         1  2021-01-01 00:26:12   2021-01-01 00:39:46                2

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.10           1                  N           142            43
1           0.20           1                  N           238           151
2          14.70           1                  N           132           165
3          10.60           1                  N           138           132
4           4.94           1                  N            68            33
5           1.60           1                  N           224            68
6           4.10           1                  N            95           157
7           5.70           1                  N            90            40
8           9.10           1                  N            97           129
9           2.70           1                  N           263           142

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          8.0    3.0      0.5        0.00           0.0
1             2          3.0    0.5      0.5        0.00           0.0
2             1         42.0    0.5      0.5        8.65           0.0
3             1         29.0    0.5      0.5        6.05           0.0
4             1         16.5    0.5      0.5        4.06           0.0
5             1          8.0    3.0      0.5        2.35           0.0
6             2         16.0    0.5      0.5        0.00           0.0
7             2         18.0    3.0      0.5        0.00           0.0
8             4         27.5    0.5      0.5        0.00           0.0
9             1         12.0    3.0      0.5        3.15           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         11.80                   2.5
1                    0.3          4.30                   0.0
2                    0.3         51.95                   0.0
3                    0.3         36.35                   0.0
4                    0.3         24.36                   2.5
5                    0.3         14.15                   2.5
6                    0.3         17.30                   0.0
7                    0.3         21.80                   2.5
8                    0.3         28.80                   0.0
9                    0.3         18.95                   2.5
inserted the first chunk, took 76.258 second
inserted another chunk, took 78.314 second
inserted another chunk, took 53.001 second
inserted another chunk, took 55.236 second
inserted another chunk, took 48.195 second
inserted another chunk, took 50.801 second
inserted another chunk, took 91.961 second
inserted another chunk, took 90.980 second
inserted another chunk, took 66.854 second
inserted another chunk, took 67.605 second
inserted another chunk, took 75.218 second
inserted another chunk, took 90.896 second

/var/folders/f5/s5kyl1qx15j36bj3qd_fsqrr0000gn/T/ipykernel_72695/2892988996.py:21: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 66.836 second
inserted another chunk, took 35.906 second
completed